<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/home/cloudera/Repositories/gender-statistic-analysis-vince4188/Project1"/>
</launchConfiguration>
